*.class
*.log

# model and G-code
*.stl
*.gco
*.igs
*.iges
*.stp
*.step
*.brep

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/build.properties

# others
lib/
ext/
